* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#576aa0, #192a56);
  color: white;
  font-family: sans-serif;
}

main .card {
  width: 380px;
  min-height: 93vh;
  border-radius: 2rem;
  border: none !important;
  color: #111;
}

.weather {
  margin-top: -1.8rem;
}

.card-city {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  color: #111;
}

.city-dot {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  color: #222;
  font-size: 36pt;
  font-weight: 400;
  font-family: "Times New Roman";
}

.icon {
  background: #111;
  border-radius: 50%;
  /* width: 40%; */
}

.up-section {
  display: flex;
  align-items: flex-end;
  /* justify-items: space-around !important; */
}

.temp {
  font-size: 3rem;
}

.cloud-info p {
  white-space: nowrap;
  text-transform: capitalize;
}
